/* @override 
	http://localhost:8888/mcr/css/main.css */



/* ==========================================================================
   Author's custom styles
   ========================================================================== */



#fileDropTarget{
	width: 100px;
	height: 100px;
	background-color: #b3d0e6;
}













